*{/*Configuração global das CSS*/
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    background-color: rgb(85, 18, 148);
}
.cabeca{
    background-color: black;
    height: 2.1em;
    width: auto;
    padding: 0.2em;
}
#pesq{
    float: right;
}
#pesq input{
    border-radius: 1em;
    height: 2.3em;
    padding: 5px;
}
#menuimg{
    width: 1.9em; /*Largura*/
    height: 1.5em; /*Altura*/
}
#menu{
    display: none;
}
#menu-ck{
    display: none;
}
#menu ul{
    text-align: center;
    list-style: none;
    position: absolute;
    background-color: #536175;
    height: auto;
    width: auto;
    padding: 1em;
    margin: -3px;
    box-shadow: 2px 10px 15px #44d3db3f;
}
#menu ul li{
    margin: 0.7em;
}
#menu ul li a{
    text-decoration: none;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.808);
}
#menu ul li a:hover{
    text-decoration: overline;
    color: #44D4DB;
}
input[type="checkbox"]:checked ~ #menu{
    display: block;
}
hr{
    background-color: white;
    height: 0.1em;
}
