footer{
    background-color: #2a313b;
}
.rodape{
    display: flex;
    flex-flow: row wrap;
}
.col{
    max-width: 250px;
    min-width: 250px;
    margin: auto;
    color: white;
    text-align: center;
    flex: 1;
}
.col h3{
    margin: 5px;
}
.col ul{
    text-align: left;
}
.col ul li{
    margin: 5px;
    list-style: none;
}