

<div class="contencao">
    <div class="imageBg">
        <img src="../resource/img/img00.jpg" alt="imagem do slide" id="img">
        </div>
    <div class="prox" onclick="slide(1)">
        <strong>&gt;</strong>
    </div>
    <div class="ante"onclick="slide(2)">
        <strong>&lt;</strong>
    </div>
</div>

<div class="tela">
    <hr>
    <!---->
    <h2> Lançamentos 2021: </h2>
    <!---->
    <section class="conteudo">
        <!---->
        <div class="info">
            <img src="../resource/img/Sem título.png" alt="area de imagem">
            <p> <a href="lancamentohtml/marc.html" rel="noopener noreferrer"> Março </a></p>
        </div>
        <!---->
        <div class="info">
            <img src="../resource/img/Sem título.png" alt="area de imagem">
            <p> <a href="lancamentohtml/abri.html" rel="noopener noreferrer"> Abril </a></p>
        </div>
        <!---->
        <div class="info">
            <img src="../resource/img/Sem título.png" alt="area de imagem">
            <p> <a href="lancamentohtml/maio.html" rel="noopener noreferrer"> Maio </a></p>
        </div>
        <!---->
        <div class="info">
            <img src="../resource/img/Sem título.png" alt="area de imagem">
            <p> <a href="lancamentohtml/junh.html" rel="noopener noreferrer"> Junho </a></p>
        </div>
        <!---->
        <div class="info">
            <img src="../resource/img/Sem título.png" alt="area de imagem">
            <p> <a href="lancamentohtml/julh.html"" rel="noopener noreferrer"> Julho </a></p>
        </div>
        <!---->
        <div class="info">
            <img src="../resource/img/Sem título.png" alt="area de imagem">
            <p> <a href="lancamentohtml/agos.html" rel="noopener noreferrer"> Agosto </a></p>
        </div>
        <!---->
        <div class="info">
            <img src="../resource/img/Sem título.png" alt="area de imagem">
            <p> <a href="lancamentohtml/sete.html" rel="noopener noreferrer"> Setembro </a></p>
        </div>
        <!---->
        <div class="info">
            <img src="../resource/img/Sem título.png" alt="area de imagem">
            <p> <a href="lancamentohtml/outu.html" rel="noopener noreferrer"> Outubro </a></p>
        </div>
        <!---->
        <div class="info">
            <img src="../resource/img/Sem título.png" alt="area de imagem">
            <p> <a href="lancamentohtml/nove.html" rel="noopener noreferrer"> Novembro </a></p>
        </div>
        <!---->
        <div class="info">
            <img src="../resource/img/Sem título.png" alt="area de imagem">
            <p> <a href="lancamentohtml/deze.html" rel="noopener noreferrer"> Dezembro </a></p>
        </div>
        <!---->
    </section>
</div>